/* Variables */

$color-one: white;
$color-two: D3D3D3; /* light grey */
$color-three: #FFD700; /* Golden */
$color-four: black;
$color-five: C0C0C0; /* dark grey */
$font-text: 'Crimson Text', serif;  /* general text */
$font-header: 'Rubik', sans-serif; /* headers */

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: none;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-five;
    }
.container {
    max-width: 1140px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    }
section {
    padding: 96px 0 96px 0;
    }
/* Navigation */
.navigation ul {
  list-style-type: none;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url('https://images.pexels.com/photos/1639729/pexels-photo-1639729.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

/* Services */

.section-title, .section-subtitle {
  position: relative;
  text-align: center;
}
.section-title {
  font-family: $font-header;
  font-weight: bold;
}
.section-subtitle {
  font-family: $font-text;
  font-size: 15px;
}
.boxes {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 96px;
  text-align: center;
}
.box-one, .box-two, .box-three {
  position: absolute;
  flex: 0 0 50%;
  padding: 30px 10px;
}

/* Portfolio */

.portfolio {
  padding: 60px;
}
.cards p {
  font-family: $font-text;
  font-size: 15px;
}
